@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ============================================
   GLOBAL RESET & BASE STYLES
============================================ */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.75;
    font-weight: 250;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    text-align: left;
}

h4, h5, h6 {
    font-weight: 200;
}


h1, h3 {
    font-weight: 400;
}

h2 {
  font-weight: 300px;
  color: #059e8f;
}


a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #059e8f;
    text-decoration: underline;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

strong, b {
    font-weight: 700;
}

/* Wrapper (layout container) */
.wrapper {
    max-width: calc(1250px - (30px * 2));
    margin: 0 auto;
    padding: 0 30px;
}
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        max-width: calc(1100px - 30px);
        padding: 0 15px;
    }
}

/* ============================================
   HEADER & NAVIGATION
============================================ */
.site-header {
    height: 90px;
    background: #0F172A;
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.site-title {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
}

.site-nav {
    margin-left: auto;
}


.site-title:hover {
    color: #059e8f;
}


.site-nav a {
    display: block;
    color: #ffffff;
}

.site-nav ul {
    text-align: right;
    padding-top: 9px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;

}

.site-nav .page-link {
    color: #ffffff;
    background: #111827;
    line-height: 1.75;
}
.site-nav .page-link:not(:first-child) {
    margin-left: 20px;
}
.site-nav .page-link:hover {
    color: #059e8f;
}

/* Style for current active page link */
.site-nav ul li.current a {
    color: #14B8A6; /* Highlight active page */
    text-decoration: underline;
}

/* Hide menu icon on desktop */
.site-nav .menu-icon {
    display: none;
}

/* Accessibility hidden nav heading */
.site-nav h1 {
    position: absolute;
    left: -999em;
}

/* ============================================
   PAGE CONTENT: General Styles
============================================ */
.page-content {
    padding: 10px 0;
}

.post-header {
    margin-bottom: 30px;
}

.post-content {
    margin-bottom: 30px;
}

h1 {
    letter-spacing: 0px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #059e8f;
    margin-bottom: -10px;
}

/* Rounded profile picture (used on index and research pages) */
.rounded-image {
    border-radius: 5px;
}

/* ============================================
   PAGE CONTENT: INDEX.HTML
============================================ */
.about-me-container {
    background-color: rgba(240, 240, 240, 0.3);
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 68%;
}

/* Index.html News Container */
.news-container {
    background-color: rgba(240, 240, 240, 0.3);
    padding: 30px 30px 15px 30px;
    border-radius: 10px;
}


/* ============================================
   PAGE CONTENT: RESEARCH.HTML
============================================ */
/* Main Publications Container */
.pubs-container {
    background-color: rgba(240, 240, 240, 0.3);
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Individual Paper Container (Desktop View) */
.paper-container {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* Desktop layout: Image and text side-by-side */
    display: flex;
/*    align-items: flex-start !important;*/
    position: relative;
}

/* Fix: Remove top margin from the first H4 in the text container to align text with image top */
.paper-container > div:last-child > h4:first-child {
    margin-top: 0;
}

/* Image Container (Desktop View) */
.paper-container > div:first-child {
    flex: 0 0 auto;
    padding-right: 30px;
}

/* Image Styling (Desktop View) */
.paper-container img.rounded-image {
    border-radius: 5px;
    height: 150px;
    width: 220px;
}

/* ============================================
   PAGE CONTENT: RESEARCH.HTML - LINK BUTTONS
============================================ */
.pub-link-button {
    display: inline-flex;
    align-items: center;
    padding: 1px 5px;
    margin-top: 5px;
    margin-right: 6px; /* Space between buttons */
    margin-bottom: 5px; /* Ensure space for wrapping */
    border: 1px solid #000000; /* Black border */
    border-radius: 5px; /* Less round corners */
    color: #000000; /* Black text color */
    background-color: rgba(240, 240, 240, 0.8); /* White background */
    text-decoration: none !important; /* Remove underline on the button */
    font-size: 0.9em;
    font-weight: 400; /* Changed to regular weight */
/*    transition: background-color 0.2s, color 0.2s, border-color 0.2s;*/
}

.pub-link-button:hover {
    background-color: #059e8f;
    color: #000000;
    text-decoration: none !important;
    border-color: #555555; /* Slightly darker border on hover */
}

.pub-link-button svg {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}



/* ============================================
   PAGE CONTENT: TEACHING.HTML
============================================ */
.course-container {
    background-color: rgba(240, 240, 240, 0.3);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.uni-container {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* List/Course Styling (No Arrows) */
.uni-container ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none; /* Use default list disk */


}

.uni-container ul li {
    margin-bottom: 8px;
    /* Removed: position: relative; */
    padding-left: 0; /* Removed padding for custom arrow */
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    margin-left: 0px; /* Use margin to indent list items */
}


/* Styling for university heading (was inline in HTML) */
.uni-container h3 div {
    color: #000000;
    font-size: 1.1em;
    text-decoration: underline;
    margin-bottom: 5px;
}


/* ============================================
   IMAGE ALIGNMENT UTILITIES (For index.html)
============================================ */
.alignright {
    float: right;
    margin-top: -3px;
}


/* ============================================
   FOOTER (Desktop Styles)
============================================ */
.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

/* Explicit margins for desktop footer layout (since removed from HTML) */
.footer-col-1 .contact-list {
    margin-left: 10px;
}
.footer-col-2 .social-media-list {
    margin-left: 50px;
}
.footer-col-3 p.text {
    margin-left: 175px;
}


.footer-col-1 {
    width: calc(35% - 15px);
}
.footer-col-2 {
    width: calc(20% - 15px);
}
.footer-col-3 {
    width: calc(45% - 15px);
}

@media screen and (max-width: 1100px) {
    .footer-col-1, .footer-col-2 {
        width: calc(50% - 15px);
    }
    .footer-col-3 {
        width: calc(100% - 15px);
    }
}


/* Footer icons */
.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon > svg path {
    fill: #828282;
}


.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.social-media-list li {
    list-style: none;
}


/* ============================================
   MOBILE OVERRIDES (max-width: 600px)
============================================ */
@media screen and (max-width: 600px) {
    /* --- MOBILE NAVIGATION --- */
    .site-nav {
        position: absolute;
        top: 27px;
        right: 30px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
        z-index: 10;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
    .site-nav .menu-icon > svg {
        width: 18px;
        height: 15px;
    }
    .site-nav .menu-icon > svg path {
        fill: #424242;
    }

    .site-nav .trigger {
        clear: both;
        display: none;
    }

    .site-nav.active .trigger {
        display: block;
        padding-bottom: 5px;
        padding-right: 20px;
    }

    /* Make list items stack vertically on mobile */
    .site-nav ul li {
        display: block;
        margin-left: 0;
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        color: #000000;
        background: none;
        text-align: left;
    }

    /* --- INDEX.HTML LAYOUT FIXES (Image) --- */
    .alignright {
        float: none;
        margin: 0 auto 20px auto;
        text-align: center;
        width: 100%;
    }

    .alignright img {
        max-width: 80%;
        height: auto;
        margin-top: 0 !important;
        margin-right: 0 !important;
    }

    .about-me-container {
        padding: 20px;
        max-width: 100%;
    }

    /* --- RESEARCH.HTML LAYOUT FIXES (Publications) --- */
    .paper-container {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .paper-container > div:first-child {
        padding-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .paper-container img.rounded-image {
        width: 286px;
        height: 195px;
    }

    /* Ensure publication text content is left-aligned on mobile */
    .paper-container > div:last-child {
        text-align: left;
    }

    .pub-link-button {
            display: inline-flex; /* Change from 'flex' to 'inline-flex' */
            justify-content: flex-start; /* Change from 'center' to 'flex-start' or remove */
            margin-right: 6px; /* Re-add the space between buttons from the desktop rule */
            margin-bottom: 5px; /* Re-add original margin */
        }

    /* Override the generic mobile text-align: left for the buttons' parent div
       to allow the buttons to start from the left */
    .paper-container > div:last-child {
        text-align: left;
    }


    /* --- TEACHING.HTML LAYOUT FIXES (No Arrows) --- */
    .uni-container h3 div {
        text-align: left; /* Align university heading left */
    }
    .uni-container ul li {
        text-align: left; /* Ensure list items are left aligned */
    }

    /* --- FOOTER FIXES (User Request: Center Align & Order) */
    .footer-col {
        float: none;
        width: 100%;
        text-align: center; /* Center the column block itself */
        padding-left: 0;
    }

    /* Remove desktop margins and center content */
    .footer-col-1 .contact-list,
    .footer-col-2 .social-media-list,
    .footer-col-3 p.text {
        margin: 0 auto !important; /* Remove specific desktop margins */
        padding-left: 0;
        text-align: center; /* Explicitly center the text/lists */
    }

    /* Ensure social media list items stack */
    .footer-col-2 .social-media-list li {
        display: block;
    }

}